<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <base href="/">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/tinymce")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body ng-app="myApp">
    <top-menu ng-if="$root.languageLoaded">
    </top-menu>

    <div class="body-content">
        @RenderBody()
    </div>
    <ew-footer></ew-footer>
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
